<div class="panel-heading" xmlns="http://www.w3.org/1999/html">
    <h3><span class="glyphicon glyphicon-cog"></span>&nbsp;{{title}}</h3>
</div>
<div class="panel-body form-horizontal">
    <div id="messagebox"></div>
    <div class="form-group">
        <label for="settingsServerName" class="col-lg-4 control-label">{{settingsServerName}}</label>

        <div class="col-lg-3">
            <input id="settingsServerName" type="text" class="form-control input-sm" required="required"
                   value="{{settings.serverName}}"/>
        </div>
    </div>
    <div class="form-group">
        <div class="col-lg-offset-4 col-lg-8">
            <label class="checkbox">
                <input id="chkPrependPodcastItem" type="checkbox"
                {{#settings.prependPodcastItem}}checked{{/settings.prependPodcastItem}} />
                {{settingsPrependPodcastItem}}
            </label>
        </div>
        <div class="col-lg-offset-4 col-lg-8">
            <label class="checkbox">
                <input id="chkEnableIcecastDirectory" type="checkbox"
                {{#settings.enableIcecastDirectory}}checked{{/settings.enableIcecastDirectory}} />
                {{settingsEnableIcecastDirectory}}
            </label>
        </div>
    </div>
    <hr/>
    <div class="form-group">
        <div class="col-lg-12 text-center">
            <button class="btn btn-default" id="btnSettingsCancel">{{cancel}}</button>
            <button class="btn btn-primary" id="btnSettingsSave">{{save}}</button>
        </div>
    </div>
</div>