body {
	background-color: #F9F9F9;
	padding-top: 60px;
}

#easter {
    position: absolute;
    left: 35px;
    top: 16px;
	height: 11px;
	width: 10px;
}

.sidebar-nav {
	width: 230px;
}

.sidebar-tabs > li > a {
	background-color: white;
}

.sidebar-tabs > .active > a, .sidebar-tabs > .active > a:hover, .sidebar-tabs > .active > a:visited {
    background-color: #0088CC;
    color: #FFFFFF;
    font-weight: bold;
}

.white-bg {
	background-color: white;
}

.movable-header {
	cursor: move;
}

.modal-dialog {
	z-index: 9999 !important; 
}

.input-prepend .add-on-50 {
	min-width: 50px;
	text-align: left;
}

.input-xlarge-400 {
    width: 400px;
}

body.roll { 
 	-moz-animation-name: roll; 
	-moz-animation-duration: 6s; 
	-moz-animation-iteration-count: 1; 
	-o-animation-name: roll; 
	-o-animation-duration: 6s; 
	-o-animation-iteration-count: 1; 
	-webkit-animation-name: roll; 
	-webkit-animation-duration: 6s; 
    -webkit-animation-iteration-count: 1; 
}

@-moz-keyframes roll { 
	100% { 
		-moz-transform: rotate(1440deg) scale(0,0);
	}
} 
@-o-keyframes roll { 
	100% { 
		-o-transform: rotate(1440deg) scale(0,0); 
	} 
} 
@-webkit-keyframes roll {
	100% { 
		-webkit-transform: rotate(1440deg) scale(0,0); 
	} 
}