<h4>{{title}} - <a href="#{{addTarget}}">{{addLabel}}</a></h4>
    <table class="table table-bordered table-striped table-condensed table-hover">
	<thead>
		<tr>
			<th style="width:30%;">{{nameLabel}}</th>
			<th>{{pathLabel}}</th>
			<th style="width: 32px"></th>
		</tr>
	</thead>
	<tbody>
{{#folders}}
		<tr>
			<td>{{name}}</td>
			<td>{{path}}</td>
			<td><a href="#{{editTarget}}/{{id}}" title="{{editLabel}}"><i class="icon-edit"></i></a> <a href="#{{removeTarget}}/{{id}}" title="{{removeLabel}}" ><i class="icon-trash"></i></a></td>
		</tr>
{{/folders}}
	</tbody>
</table>
<br />
