<div class="well">
{{#folder.id}}
	<h4>{{updateTitle}}</h4>
		<input name="folderId" type="hidden" value="{{folder.id}}" />
		<div class="input-prepend">
			<span class="add-on">{{nameLabel}}</span><input class="input-medium" name="folderLabel" type="text" value="{{folder.name}}"/><br />
		</div>
		<div class="input-prepend">
			<span class="add-on">{{pathLabel}}</span><input class="input-xlarge" name="folderPath" type="text" value="{{folder.path}}" /><br />
		</div>
		<a class="btn btn-primary" href="#" id="{{sendTarget}}">{{saveLabel}}&nbsp;<i class="icon-white icon-ok-sign"></i></a>
{{/folder.id}}
{{^folder.id}}
	<h4>{{addTitle}}</h4>
		<input name="folderId" type="hidden"/>
		<div class="input-prepend">
			<span class="add-on">{{nameLabel}}</span><input class="input-medium" name="folderLabel" type="text"/>
		</div>
		<div class="input-prepend">
			<span class="add-on">{{pathLabel}}</span><input class="input-xlarge" name="folderPath" type="text"/>
		</div>
		<a class="btn btn-primary" href="#" id="{{sendTarget}}">{{addLabel}}&nbsp;<i class="icon-white icon-ok-sign"></i></a>
{{/folder.id}}
<a class="btn btn-inverse" href="#{{cancelTarget}}">{{cancelLabel}}</a>
</div>