body {
	padding-top: 80px;
	 background: url("../img/background.png") repeat;
}

a:focus, a:hover {
   outline: 0;
   text-decoration: none;
}

a.list-group-item {
    background-color: #F9F9F9;
}

body.modal-open, .modal-open .navbar-fixed-top, .modal-open .navbar-fixed-bottom {
    margin-right: 0px;
}

.overflowHidden {
    overflow:hidden;
}

.modal-dialog {
	z-index: 9999 !important; 
}

.dialog-input{
    font-size: 13px !important;
    padding-left: 5px !important;
    height: 32px;
}