body {
	padding-top: 80px;
	 background: url("../img/background.png") repeat;
}

a:focus, a:hover {
   outline: 0;
   text-decoration: none;
}

#easter {
    position: absolute;
    left: 28px;
    top: 21px;
	height: 11px;
	width: 10px;
}

a.list-group-item {
    background-color: #F9F9F9;
}

body.modal-open, .modal-open .navbar-fixed-top, .modal-open .navbar-fixed-bottom {
    margin-right: 0px;
}

.overflowHidden {
    overflow:hidden;
}

.modal-dialog {
	z-index: 9999 !important; 
}

body.roll {
 	-moz-animation-name: roll; 
	-moz-animation-duration: 6s; 
	-moz-animation-iteration-count: 1; 
	-o-animation-name: roll; 
	-o-animation-duration: 6s; 
	-o-animation-iteration-count: 1; 
	-webkit-animation-name: roll; 
	-webkit-animation-duration: 6s; 
    -webkit-animation-iteration-count: 1; 
}

@-moz-keyframes roll { 
	100% { 
		-moz-transform: rotate(1440deg) scale(0,0);
	}
} 
@-o-keyframes roll { 
	100% { 
		-o-transform: rotate(1440deg) scale(0,0); 
	} 
} 
@-webkit-keyframes roll {
	100% { 
		-webkit-transform: rotate(1440deg) scale(0,0); 
	} 
}