body {
	background-color: #F9F9F9;
	padding-top: 60px;
}

a:focus {
   outline: 0;
}

#easter {
    position: absolute;
    left: -224px;
    top: 21px;
	height: 11px;
	width: 10px;
}

.sidebar-nav {
    padding: 0;
    max-width:200px;
}

.sidebar-nav .divider {
    margin: 0 -15px;
}

.sidebar-nav li a {
    padding: 10px 5px 10px 15px;
}

.sidebar-nav .active {
   background-color:#EEEEEE;
   font-weight: bolder;
}

.white-bg {
	background-color: white;
}

.draggable-header {
	cursor: move;
}

.overflowHidden {
    overflow:hidden;
}

.modal-dialog {
	z-index: 9999 !important; 
}

body.roll {
 	-moz-animation-name: roll; 
	-moz-animation-duration: 6s; 
	-moz-animation-iteration-count: 1; 
	-o-animation-name: roll; 
	-o-animation-duration: 6s; 
	-o-animation-iteration-count: 1; 
	-webkit-animation-name: roll; 
	-webkit-animation-duration: 6s; 
    -webkit-animation-iteration-count: 1; 
}

@-moz-keyframes roll { 
	100% { 
		-moz-transform: rotate(1440deg) scale(0,0);
	}
} 
@-o-keyframes roll { 
	100% { 
		-o-transform: rotate(1440deg) scale(0,0); 
	} 
} 
@-webkit-keyframes roll {
	100% { 
		-webkit-transform: rotate(1440deg) scale(0,0); 
	} 
}