<config>
    <parameters>
        <property name="image_cache_max_elements" value="5000"/>
        <property name="local_cache_clean_delay_minutes" value="60"/>
        <property name="enable_upnp" value="true"/>
        <property name="enable_content_resolution" value="true"/>
        <property name="hide_empty_root_nodes" value="true"/>
        <property name="media_scan_all_delay_minutes" value="0"/>
        <property name="enable_external_subtitles" value="true"/>
        <property name="enable_systray" value="true"/>
        <property name="media_index_clean_delay_minutes" value="15"/>
        <property name="image_cache_expire_hours" value="2"/>
    </parameters>
    <videoFolders>
        <node>
            <id>video1</id>
            <label>Mes vidéos</label>
            <path>C:\Users\Cedric\Videos</path>
        </node>
        <node>
            <id>video2</id>
            <label>Téléchargement</label>
            <path>C:\Users\Cedric\Downloads</path>
        </node>
    </videoFolders>
    <pictureFolders>
        <node>
            <id>picture1</id>
            <label>Mes images</label>
            <path>C:\Users\Cedric\Pictures</path>
        </node>
        <node>
            <id>picture2</id>
            <label>Dropbox</label>
            <path>C:\Users\Cedric\Dropbox\Photos</path>
        </node>
    </pictureFolders>
    <audioFolders/>
</config>