html,body,div,span,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,abbr,address,cite,code,del,dfn,em,img,ins,kbd,q,samp,small,strong,sub,sup,var,b,i,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,figcaption,figure,footer,header,hgroup,menu,nav,section,summary,time,mark,audio,video
{
	border: 0 none;
	font-size: 100%;
	margin: 0;
	outline: 0 none;
	padding: 0;
	vertical-align: baseline;
}

html {
	overflow-y: scroll;
	background: #F7F7F7 url('images/bck.png') repeat-x scroll;
}

body {
	font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
	background: transparent no-repeat center top;
	font-size: 62.5%;
}

header {
	display: block;
	height: 160px;
	width: 100%;
}

#title {
	display:block;
	color: #B8C0CB;
	font-size: 3em;
	letter-spacing: 1pt;
	font-family: Verdana, Geneva, sans-serif;
	font-weight: bold;
	float: left;
    margin-left: 60px;
}

#version {
	color: white;
    float: right;
    margin-right: 10px;
    margin-top: 14px;
}

#toolbar {
    margin-left: 600px;
	height: 40px;
    float: left;
}

#toolbar  ul{
	display:block;
	list-style-type: none;
}

.toolbar-state-hover {
	background-color:#434C56;
}

#toolbar  li{
	float:left;
	height:40px;
	display: list-item;
	color:white;
	text-decoration:none;
	cursor:pointer;
}

#toolbar  a{
	color:white;
	font-size: 13px;
	text-decoration:none;
	cursor:pointer;
	height:40px;
}

#toolbar span {
    display: block;
    height: 20px;
    padding:10px;
}

#tabs {
    margin-left: auto;
    margin-right: auto;
	width:800px;
	height: 400px;
}

#configuration_video_folders {
    padding-left: 80px;
    padding-top: 12px;
}

#configuration_audio_folders {
    padding-left: 80px;
    padding-top: 12px;
}

#configuration_picture_folders {
    padding-left: 80px;
    padding-top: 12px;
}

#configuration_podcasts {
    padding-left: 80px;
    padding-top: 12px;
}

#message {
	width: 600px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    text-align: center;
}

#configuration {
	width: 600px;
	height: 200px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
}

#configuration_fieldset {
	height: 100%;
}

#configuration_legend {
	margin-left: 10px;
	padding-left: 5px;
	padding-right: 5px;
	font-weight: bold;
}

#configuration_table {
	width: 300px;
	height: 100%;
    margin-left: auto;
    margin-right: auto;	
}

#configuration_table td{
	vertical-align: middle;
}
