html,body,div,span,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,abbr,address,cite,code,del,dfn,em,img,ins,kbd,q,samp,small,strong,sub,sup,var,b,i,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,figcaption,figure,footer,header,hgroup,menu,nav,section,summary,time,mark,audio,video
{
	border: 0 none;
	font-size: 100%;
	margin: 0;
	outline: 0 none;
	padding: 0;
	vertical-align: baseline;
}

html {
	overflow-y: scroll;
}

body {
	font-family: Trebuchet MS, Verdana, Geneva, Arial, Helvetica, sans-serif;
	background: transparent no-repeat center top;
	font-size: 10px;
	background-color: #EEEEEE;
}

#container {
    clear: both;
    margin: 50px auto;
    padding: auto;
	text-align: left;
	height: 650px;
    width: 960px;
    background: white url('images/logo.png') no-repeat;
	box-shadow: 5px 5px 5px #656565;
	border-radius: 6px;
}
header {
	display: block;
	height: 100px;
	width: 100%;
	border-bottom: 1px solid #434C56;
}

nav {
	display:block;
	height: 80px;
	width: 100%;
}

#toolbar {
    margin-left: 600px;
}

#toolbar  ul{
	list-style-type: none;
}

#toolbar  li{
	float:left;
}

#toolbar  a{
	color:#434C56;
	font-size: 13px;
	font-weight: bold;
	text-decoration:none;
	cursor:pointer;
}

#toolbar  a:hover{
	color:#1C94C4;
}

#toolbar span {
	display: block;
    height: 20px;
    padding:10px;
}

#easter {
	position: relative;
	width: 5px;
	height: 5px;
	top: 54px;
	left: 28px;
}

#version {
	font-size: 12px;
	float: right;
    margin-right: 10px;
    margin-top: 14px;
}

#tabs {
    margin-left: auto;
    margin-right: auto;
	width:800px;
	height: 400px;
}

#configuration_video_folders,
#configuration_audio_folders,
#configuration_picture_folders,
#configuration_podcasts
 {
    padding-left: 10px;
    padding-top: 10px;
}

#message {
	width: 600px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    text-align: center;
}

#configuration {
	width: 600px;
	height: 200px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
}

#configuration_fieldset {
	height: 100%;
}

#configuration_legend {
	margin-left: 10px;
	padding-left: 5px;
	padding-right: 5px;
	font-weight: bold;
}

#configuration_table {
	width: 300px;
	height: 100%;
    margin-left: auto;
    margin-right: auto;	
}

#configuration_table td{
	vertical-align: middle;
}
