<div class="page-header">
    <h3>{{title}}</h3>
</div>
<div id="messagebox"></div>
<div class="form-horizontal">
    <div class="control-group">
        <label label-default="label-default" class="control-label label-default">{{settingsServerName}}</label>

        <div class="controls">
            <input id="settingsServerName" type="text" class="input-medium" required="required"
                   value="{{settings.serverName}}"/>
        </div>
    </div>
    <div class="control-group">
        <label label-default="label-default" class="control-label label-default">{{settingsServerPort}}</label>

        <div class="controls">
            <input id="settingsHttpServerPort" type="number" class="input-sm" size="6"
                   min="1024" max="99999" required="required" value="{{settings.httpServerPort}}"
                    />
        </div>
    </div>
    <div class="control-group">
        <div class="controls">
            <label label-default="label-default" class="checkbox">
                <input id="chkPrependPodcastItem" type="checkbox"/><span>{{settingsPrependPodcastItem}}</span>
            </label>
        </div>
        <div class="controls">
            <label label-default="label-default" class="checkbox">
                <input id="chkEnableExternalSubtitles" type="checkbox"/><span>{{settingsEnableExternalSubtitles}}</span>
            </label>
        </div>
    </div>
    <button class="btn btn-primary" id="btnSettingsSave">{{save}}</button>
    <button class="btn btn-default" id="btnSettingsCancel">{{cancel}}</button>
</div>